/data/raw_data/cets
/data/raw_data/
data/raw_data/returns_raw/AAPL.json
data/raw_data/returns_raw/ACN.json
data/raw_data/returns_raw/ADBE.json
data/raw_data/returns_raw/ADI.json
data/raw_data/returns_raw/ADSK.json
data/raw_data/returns_raw/AKAM.json
data/raw_data/returns_raw/AMAT.json
data/raw_data/returns_raw/AMD.json
data/raw_data/returns_raw/ANET.json
data/raw_data/returns_raw/APH.json
data/raw_data/returns_raw/AVGO.json
data/raw_data/returns_raw/CDNS.json
data/raw_data/returns_raw/CDW.json
data/raw_data/returns_raw/CRM.json
data/raw_data/returns_raw/CSCO.json
data/raw_data/returns_raw/CTSH.json
data/raw_data/returns_raw/EPAM.json
data/raw_data/returns_raw/FFIV.json
data/raw_data/returns_raw/FTNT.json
data/raw_data/returns_raw/GEN.json
data/raw_data/returns_raw/GLW.json
data/raw_data/returns_raw/HPE.json
data/raw_data/returns_raw/HPQ.json
data/raw_data/returns_raw/IBM.json
data/raw_data/returns_raw/INTC.json
data/raw_data/returns_raw/INTU.json
data/raw_data/returns_raw/IT.json
data/raw_data/returns_raw/KEYS.json
data/raw_data/returns_raw/KLAC.json
data/raw_data/returns_raw/LRCX.json
data/raw_data/returns_raw/MCHP.json
data/raw_data/returns_raw/MPWR.json
data/raw_data/returns_raw/MSFT.json
data/raw_data/returns_raw/MSI.json
data/raw_data/returns_raw/MU.json
data/raw_data/returns_raw/NOW.json
data/raw_data/returns_raw/NTAP.json
data/raw_data/returns_raw/NVDA.json
data/raw_data/returns_raw/NXPI.json
data/raw_data/returns_raw/ORCL.json
data/raw_data/returns_raw/PTC.json
data/raw_data/returns_raw/QCOM.json
data/raw_data/returns_raw/ROP.json
data/raw_data/returns_raw/SNPS.json
data/raw_data/returns_raw/STX.json
data/raw_data/returns_raw/SWKS.json
data/raw_data/returns_raw/TDY.json
data/raw_data/returns_raw/TEL.json
data/raw_data/returns_raw/TER.json
data/raw_data/returns_raw/TRMB.json
data/raw_data/returns_raw/TXN.json
data/raw_data/returns_raw/TYL.json
data/raw_data/returns_raw/VRSN.json
data/raw_data/returns_raw/WDC.json
